
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f4f7f6;
  --font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
}

.navbar-brand {
  font-weight: 600;
}

.card {
  border: none;
  border-radius: 0.75rem;
}

.card-title {
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 1.25rem;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: var(--primary-color);
}

.accordion-button:focus {
  box-shadow: none;
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.list-group-item.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.alert-light {
  background-color: #fff;
  border: 1px dashed #ccc;
  color: #555;
}

.fa-pills, .fa-arrow-left {
  color: #fff;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}
